<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-square-pos" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>SquarePOS</name>
    <description>Native calls to Square's POS API</description>
    <license>MIT</license>
    <keywords>cordova,square,pos</keywords>
    <js-module name="SquarePOS" src="www/SquarePOS.js">
        <clobbers target="SquarePOS" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Cordova Square POS Plugin">
                <param name="android-package" value="cordova-plugin-square-pos.SquarePOS" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/SquarePOS.java" target-dir="src/android/" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SquarePOS">
                <param name="ios-package" value="SquarePOS" />
            </feature>
        </config-file>
        <source-file src="src/ios/SquarePOS.m" />
    </platform>
</plugin>